*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container_l{
  width: 1200px;
  margin: auto;
}
.container_m{
  width: 1000px;
  margin: auto;
}
.container_s{
  width: 800px;
  margin: auto;
  padding: 100px 0;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 40px;
}
h4{
  font-weight: 700;
}
p{
  font-weight: 300;
}
/* FLOAT */
.float_left, .box_left, .box_right, .box_center, .grid_item, .left_side_customers, .right_side_customers div, .left_get_hubspot_free, .first_clm, .second_clm, .third_clm, .fourth_clm, .copyright{
  float: left;
}
.float_right, .right_side_customers, .right_get_hubspot_free, .privacy_policy{
  float: right;
}
.clearfix::after{
  clear: both;
  content: '';
  display: table;
}
/* FINE FLOAT */
/* ALLINEAMENTO */
.center_vo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center_v{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.txt_center{
  text-align: center;
}
/* FINE ALLINEAMENTO */
.txt_white{
  color: white
}
.txt_blue{
  color: #33475b;
}
.topbar{
  width: 100%;
  height: 60px;
  background-color: #33475b;
  border-top: 4px solid orange;
  border-color: rgb(255, 121, 89);
  padding-left: 50px;
  padding-right: 20px;
  position: relative;
  line-height: 60px;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 1;
}
#logo_s{
  margin-top: 15px;
  height: 30px;
}
#profile{
  border-radius: 50%;
  height: 30px;
}
#box_profile{
  position: relative;
  width: 60px;
  height: 60px;
}
.topbar i{
  font-size: 10px
}
.fa-cog, .fa-search{
  padding: 0 15px;
}
.topbar a, .topbar i, footer li a, .languages a{
  text-decoration: none;
  color: white;
}
.topbar li, .contentright_center_box ul, .three_column ul, footer ul{
  list-style-type: none;
}
.navbox_left li{
  padding: 0 10px;
}
.hero{
  background-image: url('img/hero_background.png');
  height: auto;
  background-size: cover;
  position: relative;
  padding: 100px 0;
}
.hero > img{
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero_content{
  width: 400px;
  padding-bottom: 200px;
}
.half_txt_hero{
  width: 200px;
  padding-top: 40px
}
.hero_content h1{
  font-size: 50px;
}
.hero_content  p{
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn{
text-decoration: none;
border-radius: 5px;
}
.btn_wht{
  background-color: white;
  color: #516475;
}
.btn_orange{
  background-color: #ff7a59;
  color: white;
  margin-top: 20px;
  display: inline-block;
}
.btn_big{
  padding: 24px 48px;
}
.btn_m{
  padding: 12px 24px;
}
.services{
  background: #f5f8fa;
}
.container_s > img{
  width: 300px;
}
.container_s > p{
  padding: 30px 0;
}
.center_box{
  width: 100%;
  padding: 40px;
  margin-bottom: 30px;
}
.center_box, .box_left, .box_right, .box_center{
  border-radius: 5px;
  background-color: white;
}
.contentleft_center_box, .left_side_customers{
  width: 30%;
}
.center_box a{
  margin-top: 30px;
}
.contentright_center_box, .right_side_customers{
  width: 60%
}
.center_box img{
width: 200px;
margin: 0 40px 0 30px
}
.center_box h2{
  margin: 10px 0;
}
.contentright_center_box > p{
  margin: 25px 0;
}
.popular_features p{
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
}
.popular_features p::after{
  content: '';
  position: absolute;
  height: 5px;
  margin-left: 10px;
  border-bottom: 1px solid #e0e6ed;
  top: 4px;
  width: 100%;
}
.fa-check-circle{
  color: #ff7a59;
  margin-right: 5px;
}
.popular_features ul li, .three_column ul li{
  margin-right: 10px;
  margin-bottom: 8px;
}
.box_left, .box_right, .box_center{
  width: 32%;
  padding: 30px;
}
.box_center{
  margin-left: 2%;
  margin-right: 2%;
}
.box_left > img, .box_right > img, .box_center > img{
  height: 150px;
  margin-bottom: 20px;
}
.box_left > p, .box_right > p, .box_center > p{
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}
.three_column ul{
  text-align: left;
}
.popular_features_column > p{
  padding: 20px 0
}
.three_column{
  padding-bottom: 150px;
}
.hubspot{
  background-image: url('img/background_hubspot.png');
  height: auto;
  background-size: cover;
  padding-bottom: 100px;
}
.grid_item{
  width: 25%;
  padding: 30px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.grid_item > h3{
  position: relative;
  margin: 10px 0;
}
.plus_after::after{
  content: '+';
  font-size: 16px;
  font-weight: 200;
  padding-left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.grid .grid_item:nth-child(n+5){
  border-bottom: none;
}
.grid .grid_item:nth-child(4), .grid .grid_item:nth-child(8){
  border-right: none;
}
.customers{
  padding: 100px 0;
}
.left_side_customers h3{
  padding-bottom: 10px;
}
.right_side_customers div{
  text-align: center;
  width: 25%;
  height: 100px;
  padding: 10px;
}
.right_side_customers img{
  max-width: 100%;
}
.get_hubspot_free{
  padding: 150px 0;
}
.left_get_hubspot_free, .right_get_hubspot_free{
  width: 35%;
}
.left_get_hubspot_free{
  padding-top: 50px;
}
.left_get_hubspot_free > p{
  padding: 20px 0;
}
small{
  display: block;
  font-size: 10px;
  padding-top: 10px;
}
.background_image{
  width: 375px;
  height: 375px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f2547d;
}
.background_image img{
  width: 100%;
}
footer{
  background-color: #33475b;
  padding-top: 100px;
}
.first_clm, .second_clm, .third_clm, .fourth_clm{
  width: 25%;
}
.fourth_clm{
  padding-right: none;
}
.first_clm *, .second_clm *, .third_clm *, .fourth_clm *{
  padding: 8px 0;
}
.first_clm a, .second_clm a, .third_clm a, .fourth_clm a{
  font-weight: 300;
  font-size: 14px;
}
.fourth_clm li a.btn{
  color: #516475;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.btn_social a{
  padding: 20px 10px;
  font-size: 20px;
}
.btn_social a:first-child{
  padding-left: 0;
}
.languages{
  padding: 50px 0;
  border-bottom: 1px solid #7c98b6;
}
.languages a{
  padding: 0 15px;
  font-weight: 300;
}
.end_footer{
  padding: 50px 0 50px
}
.container_columns_footer li > a, .languages a, .end_footer{
  color: #cbd6e2;
}
.privacy_policy > a{
  text-decoration: none;
  padding: 10px 15px;
  color: #cbd6e2;
  font-weight: 300;
}
.hubbot{
  width: 60px;
  height: 60px;
  background-color: #425b76;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
}
.hubbot i{
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
